@import "../../app.component.scss";
.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
}
#navigation {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  background-color: $orange;

  .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    border: 2px solid $azzure;
    margin: 1.5vh 20px;
    &:hover {
      cursor: pointer;
      p {
        transform: scale(1.1);
      }
    }
  }
}
