<div id="header">
  <div id="logo" *ngIf="!loggedIn">
    <a routerLink="">
      <img src="../../../assets/logo.png" alt="logo"/>
    </a>
  </div>
  <div id="logo" *ngIf="loggedIn">
    <a routerLink="/home">
      <img src="../../../assets/logo.png" alt="logo"/>
    </a>
  </div>
  <div *ngIf="admin">
    <a routerLink="/createAsana" class="font-primary pe-3">createAsana</a>
    <a routerLink="/createAsana" class="font-primary">deleteUser</a>
  </div>
  <div *ngIf="loggedIn" class="d-flex me-3">
    <h5 class="pe-3">{{username}}</h5>
    <a class="logout" (click)="logOut()">logOut</a>
  </div>
  <div *ngIf="!loggedIn" class="me-3">
    <a routerLink=""  *ngIf="!isInLog()" class="font-primary">LOG-IN</a>
    <a routerLink="/register" *ngIf="!isInSign()" class="font-primary">SIGN-IN</a>
  </div>
</div>
