@import "../../app.component.scss";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $azzure-bg;
  height: 12vh;
  padding: 1vh 2vw;

  #logo img {
    height: 10vh;
  }

  a {
    text-decoration: none;
    color: black;

  }

  h5 {
    font-weight: 500;
    font-size: 18px;
  }

  .reverse-arr svg {
    transform: rotate(180deg);
  }

  .arr-header {
    cursor: pointer;
    color: $azzure;

    &:hover {
      transform: scale(1.1);
    }
  }

  #menu-user {
    display: flex;
    flex-direction: column;
    background-color: $azzure;
    position: absolute;
    right: 3vw;
    top: 9vh;
    z-index: 10;

    @media screen and (max-width: 426px) {
      border: 2px solid white;
    }

    a {
      padding: 3px 20px;
      color: $orange;
      font-size: large;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        color: white;
        transform: scale(1.1);
      }
    }
  }
}
