<div id="form" *ngIf="!errorStatus">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="id">Id: </label>
      <input type="text" formControlName="id" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('id')" class="alert alert-warning">Id required</div>
    <div>
      <label for="name">Name: </label>
      <input type="name" formControlName="name" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('name')" class="alert alert-warning">Name Asana required</div>
    <div>
      <label for="description">Description: </label>
      <input type="description" formControlName="description" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('description')" class="alert alert-warning">Description Asana required</div>
    <div>
      <label for="drishti">Drishti: </label>
      <input type="drishti" formControlName="drishti" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('drishti')" class="alert alert-warning">Drishti Asana required</div>
    <div>
      <label for="typeAsana">TypeAsana: </label>
      <input type="typeAsana" formControlName="typeAsana" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('typeAsana')" class="alert alert-warning">TypeAsana Asana required</div>
    <div>
      <label for="urlImg">UrlImg: </label>
      <input type="urlImg" formControlName="urlImg" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('urlImg')" class="alert alert-warning">UrlImg Asana required</div>
    <div>
      <label for="benefit">Benefit: </label>
      <input type="benefit" formControlName="benefit" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('benefit')" class="alert alert-warning">Benefit Asana required</div>
    <div class="mt-2">
      <button [disabled]="!form.valid" type="submit">Create Asana</button>
    </div>
  </form>
</div>
<div *ngIf="errorStatus">
  <p class="alert-danger">{{error}}</p>
  <h5 (click)="errStatusBack()">create asana</h5>
</div>
