<div class="about font-primary">
  <h2>Yama Yogici</h2>
  <p>
    La pratica dello yoga è un arte è la scienza dedicata alla creazione di
    unione tra corpo, mente e spirito. Il suo obiettivo è quello di assistere il
    praticante usando il respiro e il corpo per promuovere la consapevolezza di
    noi stessi come esseri individualizzati intimamente connessi al tutto
    unificato della creazione. In breve si tratta di creare l’equilibrio e la
    serenità per vivere in pace, buona salute ed armonia con il tutto. Questa
    arte di vivere è stata perfezionata e praticata in India migliaia di anni
    fa, e le fondamenta della filosofia dello yoga sono state espresse negli
    Yoga Sutra di Patanjali, circa 200 dC. Questo testo sacro descrive il
    funzionamento interno della mente e fornisce un modello degli otto passi
    dello yoga per controllare la sua irrequietezza, in modo da godere di una
    pace duratura.
  </p>
  <p>
    Il nucleo dello Yoga Sutra di Patanjali è un percorso di otto parti che
    costituisce il quadro completo per la pratica dello yoga.Praticando gli otto
    passi si vede subito che nessuno è superiore agli altri, ma tutti devono
    essere praticati in egual misura. Ognuno è un gradino di una scala che alla
    fine porta completezza per l’individuo.
  </p>
  <p>In breve le otto arti o passi per lo yoga, sono le seguenti:</p>
  <span class="fw-bolder">Yama: </span><span>La morale universale</span><br />
  <span class="fw-bolder">Niyama: </span><span>Osservanze personali</span><br />
  <span class="fw-bolder">Pranayama: </span
  ><span>Esercizi di respirazione, e il controllo del prana</span><br />
  <span class="fw-bolder">Pratyahara: </span><span>Controllo dei sensi</span
  ><br />
  <span class="fw-bolder">Dharana: </span
  ><span>Concentrazione e coltivare la consapevolezza percettiva interna</span
  ><br />
  <span class="fw-bolder">Dhyana: </span><span>La morale universale</span><br />
  <span class="fw-bolder">Samadhi: </span><span> Unione con il Divino</span
  ><br />

  <h1>Yama (morale universale)</h1>
  <span class="fw-bolder">1. Ahimsa </span
  ><span>
    – La compassione per tutti gli esseri viventi La parola ahimsa letteralmente
    significa non ferire o mostrare la crudeltà a qualsiasi creatura o qualsiasi
    persona in qualsiasi modo. Ahimsa è, però, molto di più che la mancanza di
    violenza inserita nello yoga. Significa gentilezza, amicizia, e la
    considerazione verso le altre persone e gli esseri viventi e le cose. Ha
    anche a che fare con i nostri doveri e le responsabilità. Ahimsa ci sprona
    ad essere attenti in ogni situazione ed ad agire senza fare del male. </span
  ><br />
  <span class="fw-bolder">2. Satya</span
  ><span>
    Impegnarsi per la Verità Satya significa “dire la verità”, ma non è sempre
    buono dire la verità in tutte le occasioni, dato che potrebbe danneggiare
    qualcuno inutilmente. Dobbiamo stare attenti a quello che diciamo, come lo
    diciamo, e in che modo potrebbe influenzare gli altri. Se dire la verità ha
    conseguenze negative per un altro, allora è meglio non dire niente. Satya
    non deve mai entrare in conflitto i comportamenti suggeriti da ahimsa.
    Questo precetto si basa sulla comprensione che la comunicazione onesta e le
    azioni costituiscono il fondamento di ogni rapporto sano, sia a livello di
    comunità che di governo, e che l’inganno intenzionale, e le
    esagerazioni,possono danneggiare gli altri. </span
  ><br />
  <span class="fw-bolder">3. Asteya</span
  ><span
    >Steya significa “rubare”; asteya è l’opposto, non prendere nulla che non ci
    appartiene. Questo significa anche che se ci troviamo in una situazione in
    cui qualcuno affida qualcosa a noi o si confida con noi, noi non dovremmo
    approfittare di lui o di lei. Il “non rubare” non include solo il prendere
    ciò che appartiene a un altro senza permesso, ma anche il non usare qualcosa
    al di fuori dello scopo previsto, oppure oltre il tempo consentito da chi ce
    lo ha concesso . La pratica di asteya implica non prendere qualche cosa che
    non è stata consentita liberamente o esplicitamente . Ciò può includere ad
    esempio lo sfruttare il tempo o l’impegno di un altra persona senza che
    questi ce lo abbia consentito liberamente. Se fai attenzione a questo
    ragionamento ti accorgerai che è effettivamente rubare del tempo o del
    lavoro ad un altro. </span
  ><br />
  <span class="fw-bolder">4. Brahmacharya</span
  ><span
    >Controllo dei Sensi Brahmacharyaviene considerato spesso come “astinenza” ,
    in particolare in relazione alle attività sessuali. Brahmacharya suggerisce
    che dovremmo stringere relazioni che favoriscono la comprensione delle più
    alte verità. Brahmacharya non implica necessariamente il celibato.
    Piuttosto, significa che dovremmo tenere un comportamento responsabile nei
    confronti del nostro obiettivo di arrivare alla verità. Praticare
    brahmacharya significa usare la nostra energia sessuale per rigenerare la
    nostra connessione con il nostro sé spirituale. Significa anche che non
    dovremmo usare questa energia per danneggiare gli altri in alcun modo. In
    pratica ci dice di usarla con la persona che amiamo, detto cosi sembra più
    semplice. </span
  ><br />
  <span class="fw-bolder">5. Aparigraha</span
  ><span>
    Neutralizzare il desiderio di acquisire e accumulare ricchezza Aparigraha
    significa prendere solo ciò che è necessario, e di non approfittare di una
    situazione e di non farci prendere dall’avidità. Dobbiamo solo prendere ciò
    che abbiamo guadagnato, se prendiamo di più, stiamo sfruttando qualcun
    altro. Lo yogi ritiene che la raccolta o accaparramento di cose implica una
    mancanza di fede in Dio e in te stesso nel provvedere al tuo futuro.
    Aparigraha implica anche lasciar andare i nostri attaccamenti alle cose e
    stimola la comprensione dell’impermanenza e il cambiamento che in realtà
    sono le uniche costanti della vita. </span
  ><br />
</div>
