<div id="cont-detail">
  <div class="detail font-primary">
    <div id="img-detail">
      <img [src]="singleAsana?.urlImg" alt="img-detail">
      <app-heart-svg [asanaId]="singleAsana!.id" [asana]="singleAsana!"></app-heart-svg>
    </div>
    <div id="prop-detail">
      <h2>{{singleAsana?.name}}</h2>
      <h4>Description:</h4>
      <p>{{singleAsana?.description}}</p>
      <h4>Drishty: </h4>
      <p>{{singleAsana?.drishti}}</p>
      <h4>Benefit: </h4>
      <p>{{singleAsana?.benefit}}</p>
      <h4>TypePose: </h4>
      <p>{{singleAsana?.typeAsana}}</p>

    </div>
  </div>

</div>
