@import "../../app.component.scss";

#cont-detail {
  box-sizing: border-box;
  padding: 5vh 0;

  .detail {
    border: 3px solid $purple;
    display: flex;

    background-color: $carne;

    #img-detail {
      position: relative;
      overflow: hidden;
      width: 40vw;
      height: 60vh;
      border-right: 3px solid  $purple;
      img {
        width: 100%;
        transform: scale(1.2);
      }
    }

    #prop-detail {
      padding: 1vh 1vw;
      width: 40vw;
      height: 60vh;
      overflow-y: scroll;
      h2 {
        text-align: center;
        font-weight: bolder;
        font-size: larger;
      }
      h4 {
        font-weight: bold;
      }
    }

  }

}
@media screen and (max-width: 770px) {
  #cont-detail {
    .detail {
      flex-direction: column;

      #img-detail {
        width: 80vw;
        height: inherit;
        border-right: 3px solid  white;
      }
      #prop-detail {
        width: 80vw;
        height: inherit;
        overflow: hidden;
      }
    }
  }
}
