@import "../../app.component.scss";

#aside-bar {
  display: none;
  width: 15vw;
  border: 2px solid $azzure;
  background-color: $azzure-bg;

  &.open {
    display: block;
    position: sticky;
    top: 10vh;
    #L{
      position: absolute;
      right: 5px;
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 0;
    &:hover {
      background-color: lighten($azzure-bg, 0.3);
    }
  }
}
