@import "../../app.component.scss";

#aside-bar {
  display: none;
  width: 15vw;
  border: 2px solid $azzure;
  background-color: $azzure-bg;
  overflow-y: scroll;

  &.open {
    display: block;
    position: sticky;
    top: 10vh;
    #arrow-l{
      position: absolute;
      right: 5px;
      svg {
        &:hover{
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 0;
    &:hover {
      cursor: pointer;
      background-color: lighten($azzure-bg, 0.3);
    }
  }
}
