<div class="gratitude font-primary">
  <p>
    Vorrei ringraziare inanzitutto la scuola che ha messo le basi per poter imparare a creare questa applicazione,
    in special modo al insegnate di FrontEnd Michele e di BackEnd Vincenzo, e un ringraziamento allo Staff
    di amministrazione e personale annesso. Vorrei ringraziare i miei compagni di corso che mi hanno
    insegnato molto.
  </p>
  <p>
    Un ringraziamento speciale alla mia Compagna che mi è sempre stata vicina e mi ha supportato in questi
    mesi, ringrazio infinitamente gli Amici che mi hanno aiutato a prendere la scelta d'iniziare
    questo corso e la mia Famiglia.
  </p>
  <p>
    Infine voglio ringraziare tutte le Persone che mi hanno trasmesso la passsione per lo Yoga. Un altro
    ringraziamento vanno ai miei insegnati di Yoga che mi hanno insegnato l'amore per questa disciplina.
    Infine come è pratica dello Yoga ringrazio tutti i maestri del mondo.
  </p>
  <h5>
    Shantie
  </h5>
</div>
