<div id="login" *ngIf="!loading" class="font-primary">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="username">Username: </label>
      <input type="text" formControlName="username" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('username')" class="alert alert-warning">Username required</div>
    <div>
      <label for="password">Password: </label>
      <input type="password" formControlName="password" class="form-control">
    </div>
    <div *ngIf="isValidAndTouched('password')" class="alert alert-warning">Password required</div>
    <div class="mt-2">
      <button [disabled]="!form.valid" type="submit">Log-in</button>
      <a routerLink="/register" class="ps-4">Sign-in</a>
    </div>
    <div *ngIf="errorStatus" class="alert alert-danger mt-2">
      <p>{{error}}</p>
    </div>
  </form>
</div>
<div *ngIf="loading"><h1 class="text-center">LOADING</h1></div>
<div id="container-popup" class="position-center d-none">
  <div id="pop-up-logo" class="position-center">
    <img src="../../../assets/logo.png" alt="logo">
  </div>
</div>
