@import "../styles.scss";


#app-comp-div{
  background-color: $azzure-bg;
  .router-outlet {
    margin-bottom:10vh;
  }
}
//general classes

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


