@import "../../app.component.scss";

.no-jump-content {
  padding-top: 55px;
}

#home-page {
  .container-home {
    display: flex;

    .custom-scroll-bar {
      height: 80vh;
    }

    .container-outlet {
      position: relative;
      margin: 0 auto;
      #arrow-r {
        position: fixed;
        left: 7px;
        svg {
          &:hover {
            transform: scale(1.2);
            cursor: pointer;
          }
        }
      }
    }
  }
}
